@model Login    
@{
    ViewData["Title"] = localizer["login"].Value;
    ViewData["Description"] = "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.";
    ViewData["Keywords"] = "lorem, ipsum, dolor, sit, amet";

    ViewData["FirstPage"] = localizer["login"].Value;
    ViewData["FirstPageAction"] = "Login";
    ViewData["FirstPageController"] = "Account";
    ViewData["PageDescription"] = localizer["description"].Value;
}

<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <form asp-action="Login" method="post">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control form-control-lg">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control form-control-lg" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="form-check">
                                <input asp-for="RememberMe" class="form-check-input">
                                <label asp-for="RememberMe" class="form-check-label"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="submit" value="@localizer["login"]" class="btn btn-primary btn-lg px-5">
                        </div>
                    </div>
                </form>

                <div class="mt-3 text-center">
                    <p>@localizer["account"] <a href="@Url.Action("Register", "Account")">@localizer["here"]</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
